<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mobile Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SCRIPTS  -->
    <script src="scripts/jquery/jquery-3.2.1.slim.min.js"></script>
    <script src="scripts/popper/popper.min.js"></script>
    <script src="scripts/bootstrap/bootstrap.min.js"></script>

    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" media="screen" href="styles/bootstrap/bootstrap.min.css" />

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <!-- CUSTOMIZED FILES -->
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main/main.css" />
    <script src="scripts/main.js"></script>
</head>


<body>
    <div class="container-fluid c-nav c-nav-scroll-0" id="c-nav-top">
        <div class="row">
            <div class="col-lg-2 font-weight-bold h4 pl-2 m-0">Mobile Shop</div>
            <div class="col-lg-8">
                <ul class="c-navitem">
                    <li> <a href="#">Features</a></li>
                    <li> <a href="#">Demo</a></li>
                    <li> <a href="#">mobile</a></li>
                    <li> <a href="#">documents</a></li>
                    <li> <a href="#">supports</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <div class="btn loginBtn-navbar">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="pl-2">Login</span>
                </div>
            </div>
        </div>
    </div>


    <div style="width : 100%;height : 100%">
        <img src="images/Intro-1.jpg" alt="kg" style="width: 100%;height : 100%;">
    </div>
    <div style="width : 100%;height : 100%">
        <img src="images/Intro-1.jpg" alt="kg" style="width: 100%;height : 100%;">
    </div>

</body>

</html>