* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

$blue : #81DDEE;
$gray : #5E5E5E;
$orange : #FFAC53;
$brightRed : #F14949;
$transition-nav : 500ms;

html,
body {
    width: 100%;
    height: 100%;
}

.c-nav {
    box-shadow: 0 1px 6px rgba($gray, .1);
    background: rgba(white, .1);
    position: fixed;
    transition: $transition-nav;
}

.c-nav-scroll-0 {
    padding-top: 35px;
    padding-bottom: 25px;
}

.c-nav-scroll {
    background: white;
    //pt-3
}

@mixin aTag($input) {

    a {
        color: map-get($input, mainColor);
        text-decoration: none;
        transition: map-get($input, transtionVal);

        &:hover {
            color: map-get($input, hoverColor);
        }

        &:link {
            color: map-get($input, linkColor);
        }
    }

}

.c-navitem {
    padding: 0;
    list-style-type: none;
    text-align: center;


    &>li {
        display: inline;
        margin: 0 10px;
        font-weight: 500;
        font-size: 14px;
        color: inherit;
        text-transform: uppercase;


        @include aTag((mainColor: $gray,
            transtionVal: $transition-nav,
            hoverColor: $blue,
            linkColor: $gray));

    }
}

.loginBtn-navbar {
    transform: translateY(-20%);
    width: 80%;
    border-radius: 25px;
    background: $brightRed;
    color: white;
}