html,
body {
  min-width: 100vh;
  min-height: 100vh;
  background: #F7F8FB;
}

#dashboard-container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 50px 1fr;
}

#dashboard-container #top-nav {
  width: 100%;
  background: white;
  height: 50px;
  position: absolute;
  z-index: 1;
}

#dashboard-container #top-nav .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 150px 1fr 50px 250px;
      grid-template-columns: 50px 150px 1fr 50px 250px;
  position: relative;
}

#dashboard-container #top-nav .left .search,
#dashboard-container #top-nav .left .bell {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1rem;
  color: #b3b3b3;
}

#dashboard-container #top-nav .left .bell {
  border-right: 1px solid rgba(179, 179, 179, 0.3);
  border-left: 1px solid rgba(179, 179, 179, 0.3);
  position: relative;
}

#dashboard-container #top-nav .left .bell::after {
  content: '';
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 100%;
  position: absolute;
  top: 25%;
  right: 25%;
}

#dashboard-container #top-nav .left .nav-brand {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #00DC81;
  font-size: 1.5rem;
  border-right: 1px solid rgba(179, 179, 179, 0.3);
  border-bottom: 1px solid rgba(179, 179, 179, 0.3);
}

#dashboard-container #top-nav .left .user-small-panel {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr;
      grid-template-columns: 30px 1fr;
  grid-column-gap: 15px;
}

#dashboard-container #top-nav .left .user-small-panel .dropdown #dropdownMenuButton {
  background: inherit;
  -webkit-box-shadow: 1px 1px 1px transparent;
          box-shadow: 1px 1px 1px transparent;
}

#dashboard-container #top-nav .left .user-small-panel .dropdown .dropdown-menu {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 19px;
  max-width: 200px;
  border-color: #F2BB6E rgba(179, 179, 179, 0.3) rgba(179, 179, 179, 0.3) rgba(179, 179, 179, 0.3);
  border-top-width: 1px;
  border-radius: 0;
  position: relative;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-bottom: 0;
}

#dashboard-container #top-nav .left .user-small-panel .dropdown .dropdown-menu::before {
  content: '';
  border-width: 5px;
  border-color: transparent transparent #F2BB6E transparent;
  border-style: solid;
  position: absolute;
  top: -11px;
  right: 20px;
  z-index: 20;
}

#dashboard-container #top-nav .left .user-small-panel .dropdown .dropdown-menu .dropdown-item {
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
}

#dashboard-container #top-nav .left .user-small-panel .dropdown .dropdown-menu .dropdown-item.exit {
  color: red;
  border-top: 1px solid red;
  margin-top: 1rem;
}

#dashboard-container #top-nav .left .user-small-panel .dropdown .dropdown-menu .dropdown-item.exit i {
  color: red;
}

#dashboard-container #top-nav .left .user-small-panel .dropdown .dropdown-menu .dropdown-item i {
  color: #00663c;
}

#dashboard-container #top-nav .left .user-small-panel .dropdown .dropdown-menu .dropdown-item i.fa-cart-plus {
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

#dashboard-container #top-nav .left .user-small-panel .dropdown .dropdown-menu .dropdown-item span {
  margin-left: 5px;
}

#dashboard-container #top-nav .left .user-small-panel > img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

#dashboard-container #left-nav {
  position: relative;
  background: white;
  border-right: 1px #F0F2F8 solid;
}

#dashboard-container #left-nav #v-pills-tab {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#dashboard-container #left-nav #v-pills-tab .nav-link {
  color: #b3b3b3;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-right: 1px transparent solid;
}

#dashboard-container #left-nav #v-pills-tab .nav-link.active {
  background: white;
  color: #00DC81;
  border-right: 1px #00DC81 solid;
  border-radius: 0;
}
/*# sourceMappingURL=dashboard.css.map */