.btn-green {
  background-color: #00DC81;
  border-color: #00DC81;
  color: white;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.btn-green:hover {
  background-color: #00e686;
  border-color: #00e686;
}

.h7 {
  font-size: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  background: #F7F8FB;
}

body {
  overflow-x: hidden;
}

#dashboard-container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 50px 1fr;
}

#dashboard-container #top-nav {
  width: 100vw;
  background: white;
  height: 50px;
  position: absolute;
  z-index: 1;
}

#dashboard-container #top-nav .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 250px 1fr 50px 250px;
      grid-template-columns: 50px 250px 1fr 50px 250px;
  position: relative;
}

#dashboard-container #top-nav .left .dropdown button {
  background: inherit;
  -webkit-box-shadow: 1px 1px 1px transparent;
          box-shadow: 1px 1px 1px transparent;
}

#dashboard-container #top-nav .left .dropdown .dropdown-menu {
  margin-top: 19px;
  max-width: 200px;
  border-color: #00663c rgba(179, 179, 179, 0.3) rgba(179, 179, 179, 0.3) rgba(179, 179, 179, 0.3);
  border-top-width: 1px;
  border-radius: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-bottom: 0;
  margin-left: -20px;
}

#dashboard-container #top-nav .left .dropdown .dropdown-menu::before {
  content: '';
  border-width: 5px;
  border-color: transparent transparent #00663c transparent;
  border-style: solid;
  position: absolute;
  top: -11px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 20;
}

#dashboard-container #top-nav .left .dropdown .dropdown-menu .dropdown-item {
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
}

#dashboard-container #top-nav .left .dropdown .dropdown-menu .dropdown-item span {
  margin-left: 5px;
}

#dashboard-container #top-nav .left .search {
  position: relative;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

#dashboard-container #top-nav .left .search .search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 1;
  width: 20px;
  height: 20px;
  -webkit-transition: all .25s ease-in .25s;
  transition: all .25s ease-in .25s;
  font-size: .75rem;
  line-height: 20px;
}

#dashboard-container #top-nav .left .search .search-box input[type="text"]:hover {
  cursor: pointer;
}

#dashboard-container #top-nav .left .search .search-box input[type="text"]:hover:focus {
  cursor: text;
}

#dashboard-container #top-nav .left .search .search-box input[type="text"]:focus {
  width: 100%;
  padding: 0 10px;
  outline: none;
  color: black;
  background: none;
  color: green;
}

#dashboard-container #top-nav .left .search .search-box input[type="text"]:focus + span {
  width: 100%;
  height: 27px;
  border-color: #00DC81;
}

#dashboard-container #top-nav .left .search .search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

#dashboard-container #top-nav .left .search .search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid #b3b3b3;
  top: 0;
  width: 20px;
  height: 20px;
  -webkit-transition: all .25s ease-in .25s;
  transition: all .25s ease-in .25s;
  border-radius: 25px;
  left: 0;
}

#dashboard-container #top-nav .left .search .search-box input[type="text"] + span::before {
  -webkit-transition: all .25s ease-in .5s;
  transition: all .25s ease-in .5s;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 5px;
  background: #b3b3b3;
  -webkit-transform: rotate(45deg) translate(21px, -2px);
          transform: rotate(45deg) translate(21px, -2px);
}

#dashboard-container #top-nav .left .bell {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1rem;
}

#dashboard-container #top-nav .left .bell .fa-bell {
  color: #b3b3b3;
}

#dashboard-container #top-nav .left .bell {
  border-right: 1px solid rgba(179, 179, 179, 0.3);
  border-left: 1px solid rgba(179, 179, 179, 0.3);
  position: relative;
}

#dashboard-container #top-nav .left .bell::after {
  content: '';
  width: 6px;
  height: 6px;
  background: #FFBF00;
  border-radius: 100%;
  position: absolute;
  top: 25%;
  right: 25%;
}

#dashboard-container #top-nav .left .bell .dropdown-toggle {
  background: inherit;
  width: 50px;
  height: 50px;
}

#dashboard-container #top-nav .left .bell .dropdown-menu {
  margin-left: -118%;
  margin-top: 7px;
  border-top: 1px #FFBF00 solid;
}

#dashboard-container #top-nav .left .bell .dropdown-menu::before {
  border-bottom-color: #FFBF00;
  right: 50%;
}

#dashboard-container #top-nav .left .bell .dropdown-menu .dropdown-item i {
  color: #FFBF00;
}

#dashboard-container #top-nav .left .bell .dropdown-toggle::after {
  display: none;
}

#dashboard-container #top-nav .left .nav-brand {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #00DC81;
  font-size: 1.5rem;
  border-right: 1px solid rgba(179, 179, 179, 0.3);
  border-bottom: 1px solid rgba(179, 179, 179, 0.3);
}

#dashboard-container #top-nav .left .user-small-panel {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr;
      grid-template-columns: 30px 1fr;
  grid-column-gap: 15px;
}

#dashboard-container #top-nav .left .user-small-panel .dropdown .dropdown-menu .dropdown-item.exit {
  color: #f44336;
  border-top: 1px solid #00663c;
  margin-top: 1rem;
}

#dashboard-container #top-nav .left .user-small-panel .dropdown .dropdown-menu .dropdown-item.exit i {
  color: #f44336;
}

#dashboard-container #top-nav .left .user-small-panel .dropdown .dropdown-menu .dropdown-item i {
  color: #00663c;
}

#dashboard-container #top-nav .left .user-small-panel .dropdown .dropdown-menu .dropdown-item i.fa-cart-plus {
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

#dashboard-container #top-nav .left .user-small-panel > img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

#dashboard-container #left-nav {
  position: fixed;
  background: white;
  border-right: 1px #F0F2F8 solid;
  height: 100vh;
  width: 50px;
}

#dashboard-container #left-nav #v-pills-tab {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#dashboard-container #left-nav #v-pills-tab .nav-link {
  color: #b3b3b3;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-right: 1px transparent solid;
}

#dashboard-container #left-nav #v-pills-tab .nav-link.active {
  background: white;
  color: #00DC81;
  border-right: 1px #00DC81 solid;
  border-radius: 0;
}

#dashboard-container #mainpage-content {
  margin-top: 50px;
}

#dashboard-container #mainpage-content .nav-link {
  color: gray;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-bottom: 1px transparent solid;
}

#dashboard-container #mainpage-content .nav-link.active {
  background: inherit;
  color: black;
  border-radius: 0;
  position: relative;
}

@-webkit-keyframes colorChange {
  from {
    background-color: transparent;
  }
  to {
    background-color: #00DC81;
  }
}

@keyframes colorChange {
  from {
    background-color: transparent;
  }
  to {
    background-color: #00DC81;
  }
}

#dashboard-container #mainpage-content .nav-link.active::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-animation: colorChange 500ms forwards;
          animation: colorChange 500ms forwards;
}

#dashboard-container #mainpage-content #home-pill-tab {
  border-bottom: 1px rgba(179, 179, 179, 0.3) solid;
}

#dashboard-container #mainpage-content .dashboard-list {
  list-style-type: none;
}

#dashboard-container #mainpage-content .dashboard-list li {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 1rem 0;
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow 500ms,-webkit-transform 200ms;
  transition: -webkit-box-shadow 500ms,-webkit-transform 200ms;
  transition: box-shadow 500ms,transform 200ms;
  transition: box-shadow 500ms,transform 200ms,-webkit-box-shadow 500ms,-webkit-transform 200ms;
}

#dashboard-container #mainpage-content .dashboard-list li:not(:first-child) {
  border: 1px solid rgba(179, 179, 179, 0.3);
}

#dashboard-container #mainpage-content .dashboard-list li:not(:first-child):hover {
  -webkit-box-shadow: 1px 1px 30px rgba(179, 179, 179, 0.3);
          box-shadow: 1px 1px 30px rgba(179, 179, 179, 0.3);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#dashboard-container #mainpage-content .dashboard-list li:first-child {
  color: gray;
  background-color: inherit;
}

#dashboard-container #mainpage-content .dashboard-list .image-desc-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 3fr;
      grid-template-columns: 2fr 2fr 3fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 15px;
}

#dashboard-container #mainpage-content .dashboard-list .image-desc-container .img-cont {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 100%;
}

#dashboard-container #mainpage-content .dashboard-list .image-desc-container .img-cont img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=dashboard.css.map */